@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    overflow: auto;
}

/* Common style */

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.col-tam{
    background-color: orange;
    background-clip: content-box;
}

.clear{
    clear: both;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav{
    display: inline-block;
    list-style-type: none;
}

.nav-content{
    float: left;
    padding: 0 24px;
}

.nav-content > a{
    width: 100%;
    display: block;
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 47px;
}

.nav-content:hover{
    background-color: #ccc;
    cursor: pointer;
}

.nav-content:hover>a{
    color: #000;
}

.icon-down{
    color: #fff;
}

.drop-sub-nav:hover .sub-nav{
    display: block;
}

.sub-nav{
    display: none;
    margin-left: -24px;
    position: absolute;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 8px black;
}

.sub-nav-content{
    padding: 10px 60px 10px 15px;
    align-items: center;
}

.sub-nav-content a{
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.sub-nav-content:hover{
    background-color: #ccc;
    cursor: pointer;
}

.search{
    float: right;
    height: 47px;
}

.icon-search{
    padding: 0 23px;
    color: #fff;
    font-size: 15px;
    line-height: 47px;
}

.search:hover{
    background-color: red;
    cursor: pointer;
}



#slider{
    position: relative;
    width: 100%;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('../img/The-Band/chicago.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.slider-content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    text-align: center;
    color: #fff;
}

.slider-content h1, .slider-content p{
    text-shadow: 0 0 2px #000;
    padding: 10px 0;
}

.slider-content h1{
    font-weight: 300;
    font-size: 24px;
}

.slider-content p{
    font-size: 15px;
}

.section{
    width: 100%;
}

.section-content{
    width: 800px;
    padding: 64px 16px;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

.content-title{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content-note{
    margin: 25px 0;
    opacity: 0.6;
    font-style: italic;
    font-size: 15px;
}

.content-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

.content-member{
    padding: 32px 0;
}

.member img{
    width: 60%;
}

.member h2{
    font-size: 15px;
    font-weight: 300;
    padding: 15px 0;
}

#tour-date{
    background-color: #000;
}

#tour-date .content-title, #tour-date .content-note{
    color: #fff;
}

.ticket-time{
    background-color: #fff;
    text-align: left;
}

.ticket-time-content{
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px #ccc solid;
}

.sold-out{
    padding: 3px 7px;
    font-size: 15px;
    background-color: #f44336;
    color: white;
    margin-left: 16px;
}

.ticket-quantity{
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: right;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}

.place{
    padding: 32px 0;
}

.place-content{
    background-color: #fff;
    background-clip: content-box;
    text-align: left;
}

.place-content img{
    width: 100%;
}

.place-info{
    padding: 0 12px 20px;
}

.place-info p{
    margin: 15px 0;
    font-size: 15px;
}

.place-name{
    font-weight: 700;
}

.place-time{
    opacity: 0.7;
}

.place-detail{
    opacity: 0.7;
    line-height: 1.4;
}

.btn-buy-ticket{
    display: inline-block;
    padding: 11px 13px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.btn-buy-ticket:hover{
    background-color: #ccc;
    color: #000;
}

.contact-col{
    background-clip: content-box;
    text-align: left;
}

.contact-place,
.contact-phone,
.contact-email{
    font-size: 18px;
    padding: 3px 0px;
}

.contact-place i,
.contact-phone i,
.contact-email i{
    width: 30px;
}

.contact-input input{
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 9px 8px;
    border: 1px #ccc solid;
}

.contact-msg{
    margin-top: 4px;
    width: 100%;
}

.contact-send{
    margin-top: 16px;
}

.contact-send a{
    float: right;
    padding: 11px 15px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background-color: #000;
    text-decoration: none;
}

.contact-send a:hover{
    background-color: #ccc;
    color: #000;
}

.location{
    width: 100%;
    padding-top: 50%;
    background-image: url('../img/Band-Location/map.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%);
}

#footer{
    text-align: center;
    padding: 64px 16px;
}   

.footer-icon{
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    font-size: 24px;
}

.footer-icon:hover{
    opacity: 0.3;
}

.copy-right{
    margin-top: 15px;
    color: #000;
    opacity: 0.6;
}

.copy-right a{
    color: #000;
    opacity: 0.6;
}