
.grid{
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row.no-gutter{
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter .col{
    padding: 0;
}


/* Medium screen resolution PC */
@media screen and (min-width: 1240px){
    .row{
        margin-left: -12px;
        margin-right: -12px;
    }
    .col{
        display: block;
        padding-left: 12px;
        padding-right: 12px;
    }
    .xl-0{
        display: none;
    }
    .xl-1{
        flex: 0 0 8.33333%;
        width: 8.33333%;
    }
    
    .xl-2{
        flex: 0 0 16.66667%;
        width: 16.66667%;
    }
    
    .xl-2-4{
        flex: 0 0 20%;
        width: 20%;
    }
    
    .xl-3{
        flex: 0 0 25%;
        width: 25%;
    }
    
    .xl-4{
        flex: 0 0 33.33333%;
        width: 8.33333%;
    }
    
    .xl-5{
        flex: 0 0 41.66667%;
        width: 41.66667%;
    }
    
    .xl-6{
        flex: 0 0 50%;
        width: 50%;
    }
    
    .xl-7{
        flex: 0 0 58.33333%;
        width: 58.33333%;
    }
    
    .xl-8{
        flex: 0 0 66.66667%;
        width: 66.66667%;
    }
    .xl-9{
        flex: 0 0 75%;
        width: 75%;
    }
    
    .xl-10{
        flex: 0 0 83.33333%;
        width: 83.33333%;
    }
    
    .xl-11{
        flex: 0 0 91.66667%;
        width: 91.66667%;
    }
    
    .xl-12{
        flex: 0 0 100%;
        width: 100%;
    }
    
    .xl-o-1{
        margin-left: 8.33333%;
    }
    
    .xl-o-2{
        margin-left: 16.66667%;
    }
    
    .xl-o-3{
        margin-left: 25%;
    }
    
    .xl-o-4{
        margin-left: 33.33333%;
    }
    
    .xl-o-5{
        margin-left: 41.66667%;
    }
    
    .xl-o-6{
        margin-left: 50%;
    }
    
    .xl-o-7{
        margin-left: 58.33333%;
    }
    
    .xl-o-8{
        margin-left: 66.66667%;
    }
    .xl-o-9{
        margin-left: 75%;
    }
    
    .xl-o-10{
        margin-left: 83.33333%;
    }
    
    .xl-o-11{
        margin-left: 91.66667%;
    }
    
}

/* Low resolution PC */
@media screen and (min-width: 1024px) and (max-width: 1239px){
    .wide{
        width: 984px;
    }
    .row{
        display: flex;
        margin-left: -12px;
        margin-right: -12px;
    }
    .col{
        display: block;
        padding-left: 12px;
        padding-right: 12px;
    }
    .l-0{
        display: none;
    }
    .l-1{
        flex: 0 0 8.33333%;
        width: 8.33333%;
    }
    
    .l-2{
        flex: 0 0 16.66667%;
        width: 16.66667%;
    }
    
    .l-2-4{
        flex: 0 0 20%;
        width: 20%;
    }
    
    .l-3{
        flex: 0 0 25%;
        width: 25%;
    }
    
    .l-4{
        flex: 0 0 33.33333%;
        width: 8.33333%;
    }
    
    .l-5{
        flex: 0 0 41.66667%;
        width: 41.66667%;
    }
    
    .l-6{
        flex: 0 0 50%;
        width: 50%;
    }
    
    .l-7{
        flex: 0 0 58.33333%;
        width: 58.33333%;
    }
    
    .l-8{
        flex: 0 0 66.66667%;
        width: 66.66667%;
    }
    .l-9{
        flex: 0 0 75%;
        width: 75%;
    }
    
    .l-10{
        flex: 0 0 83.33333%;
        width: 83.33333%;
    }
    
    .l-11{
        flex: 0 0 91.66667%;
        width: 91.66667%;
    }
    
    .l-12{
        flex: 0 0 100%;
        width: 100%;
    }
    
    .l-o-1{
        margin-left: 8.33333%;
     }
     
    .l-o-2{
        margin-left: 16.66667%;
     }
     
    .l-o-3{
        margin-left: 25%;
     }
     
    .l-o-4{
        margin-left: 33.33333%;
     }
     
    .l-o-5{
        margin-left: 41.66667%;
     }
     
    .l-o-6{
        margin-left: 50%;
     }
     
    .l-o-7{
        margin-left: 58.33333%;
     }
     
    .l-o-8{
        margin-left: 66.66667%;
     }
    .l-o-9{
        margin-left: 75%;
     }
     
    .l-o-10{
         margin-left: 83.33333%;
     }
     
    .l-o-11{
         margin-left: 91.66667%;
     }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px){
    .wide{
        width: 644px;
    }
    .row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .col{
        padding-left: 8px;
        padding-right: 8px;
    }
    .m-0{
        display: none;
    }
    .m-1{
        flex: 0 0 8.33333%;
        width: 8.33333%;
    }
    
    .m-2{
        flex: 0 0 16.66667%;
        width: 16.66667%;
    }

    .m-2-4{
        flex: 0 0 20%;
        width: 20%;
    }
    
    .m-3{
        flex: 0 0 25%;
        width: 25%;
    }
    
    .m-4{
        flex: 0 0 33.33333%;
        width: 8.33333%;
    }
    
    .m-5{
        flex: 0 0 41.66667%;
        width: 41.66667%;
    }
    
    .m-6{
        flex: 0 0 50%;
        width: 50%;
    }
    
    .m-7{
        flex: 0 0 58.33333%;
        width: 58.33333%;
    }
    
    .m-8{
        flex: 0 0 66.66667%;
        width: 66.66667%;
    }
    .m-9{
        flex: 0 0 75%;
        width: 75%;
    }
    
    .m-10{
        flex: 0 0 83.33333%;
        width: 83.33333%;
    }
    
    .m-11{
        flex: 0 0 91.66667%;
        width: 91.66667%;
    }
    
    .m-12{
        flex: 0 0 100%;
        width: 100%;
    }

    .m-o-1{
        margin-left: 8.33333%;
     }
    .m-o-2{
        margin-left: 16.66667%;
     }
    .m-o-3{
        margin-left: 25%;
     }
    .m-o-4{
        margin-left: 33.33333%;
     }
    .m-o-5{
        margin-left: 41.66667%;
     }
    .m-o-6{
        margin-left: 50%;
     }
    .m-o-7{
        margin-left: 58.33333%;
     }
    .m-o-8{
        margin-left: 66.66667%;
     }
    .m-o-9{
        margin-left: 75%;
     }
    .m-o-10{
         margin-left: 83.33333%;
     }
    .m-o-11{
         margin-left: 91.66667%;
     }
}

/* Mobile width < 740px */
@media screen and (max-width: 739px){
    .col{
        display: block;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .c-0{
        display: none;
    }
    
    .c-1{
        flex: 0 0 8.33333%;
        width: 8.33333%;
    }
    
    .c-2{
        flex: 0 0 16.66667%;
        width: 16.66667%;
    }
    
    .c-2-4{
        flex: 0 0 20%;
        width: 20%;
    }
    
    .c-3{
        flex: 0 0 25%;
        width: 25%;
    }
    
    .c-4{
        flex: 0 0 33.33333%;
        width: 8.33333%;
    }
    
    .c-5{
        flex: 0 0 41.66667%;
        width: 41.66667%;
    }
    
    .c-6{
        flex: 0 0 50%;
        width: 50%;
    }
    
    .c-7{
        flex: 0 0 58.33333%;
        width: 58.33333%;
    }
    
    .c-8{
        flex: 0 0 66.66667%;
        width: 66.66667%;
    }
    .c-9{
        flex: 0 0 75%;
        width: 75%;
    }
    
    .c-10{
        flex: 0 0 83.33333%;
        width: 83.33333%;
    }
    
    .c-11{
        flex: 0 0 91.66667%;
        width: 91.66667%;
    }
    
    .c-12{
        flex: 0 0 100%;
        width: 100%;
    }
    
    .c-o-1{
       margin-left: 8.33333%;
    }
    
    .c-o-2{
       margin-left: 16.66667%;
    }
    
    .c-o-3{
       margin-left: 25%;
    }
    
    .c-o-4{
       margin-left: 33.33333%;
    }
    
    .c-o-5{
       margin-left: 41.66667%;
    }
    
    .c-o-6{
       margin-left: 50%;
    }
    
    .c-o-7{
       margin-left: 58.33333%;
    }
    
    .c-o-8{
       margin-left: 66.66667%;
    }
    .c-o-9{
       margin-left: 75%;
    }
    
    .c-o-10{
        margin-left: 83.33333%;
    }
    
    .c-o-11{
        margin-left: 91.66667%;
    }   
}
