/* PC width >= 1240px */
@media screen and (min-width: 1240px) {
    
}

/* Tablet width >= 740px and width < 1240px */
@media screen and (min-width: 740px) and (max-width: 1239px) {
    .section{
        padding: 0 8px;
    }
    .section-content{
        width: 100%;
    }
}

/* Mobile < 740px */
@media screen and (max-width: 739px) {
    .section{
        padding: 0 4px;
    }
    .section-content{
        width: 100%;
    }
    #nav{
        display: flex;
        flex-direction: column;
        background-color: #000;
    }
    #nav .icon-close{
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        padding: 0 8px;
        font-size: 30px;
    }
    #nav .icon-close:hover, #header .icon-bar:hover{
        color: #000;
        background-color: #fff;
    }
    #header .icon-bar{
        padding: 0 23px;
        color: #fff;
        font-size: 15px;
        line-height: 47px;
    }
    #nav.close, #header .icon-bar.close{
        display: none;
    }
}